h1,
p {
	color: white;
}

header {
	height: 450px;
	width: 100vw;
	overflow: hidden;
	background: #c33764; /* fallback colour. Make sure this is just one solid colour. */
	background: -webkit-linear-gradient(
			118deg,
			rgba(254, 108, 111, 0.6) 0%,
			rgba(180, 7, 18, 0.6) 99%
		),
		url('./ineedahero-edit.gif');
	background: linear-gradient(
			118deg,
			rgba(245, 113, 115, 0.6) 0%,
			rgba(180, 7, 18, 0.6) 99%
		),
		url('./ineedahero-edit.gif'); /* The least supported option. */
	background-repeat: no-repeat;
	background-size: 100vw;
}

.hero-header-text {
	margin: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -65%);
}

#ready {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 3em;
}

#werk {
	font-family: 'Knewave';
	font-size: 5em;
}

#yas {
	width: 183px;
	height: 55px;
	border-radius: 14px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.19);
	background-color: #ac5fd0;
	margin-top: 1em;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 2em;
	cursor: pointer;
}

.overview {
	display: grid;
	height: 350px;
	grid-template-columns: 40% 60%;
	grid-template-rows: auto;
	text-align: left;
	padding-left: 20px;
	font-family: 'Roboto', sans-serif;
}

.join-the-queens h1 {
	font-weight: 100;
}
.join-the-queens p {
	font-weight: 600;
}

.column {
	margin-top: auto;
	margin-bottom: auto;
	padding: 10px;
}

.data {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	text-align: center;
}

.data-col {
	padding: 0 10px;
}

.data-col h1 {
	font-size: 3em;
	font-weight: 100;
}

.data-col p {
	font-size: 1.3em;
	font-weight: 600;
}

.queen-or-fan {
	height: 300px;
	background-image: linear-gradient(113deg, #fe6c6f 0%, #b40712 99%);
}
