h1 {
	color: white;
}

header {
	height: 450px;
	width: 100vw;
	overflow: hidden;
	background: #c33764; /* fallback colour. Make sure this is just one solid colour. */
	background: -webkit-linear-gradient(
			118deg,
			rgba(254, 108, 111, 0.6) 0%,
			rgba(180, 7, 18, 0.6) 99%
		),
		url('./ineedahero-edit.gif');
	background: linear-gradient(
			118deg,
			rgba(245, 113, 115, 0.6) 0%,
			rgba(180, 7, 18, 0.6) 99%
		),
		url('./ineedahero-edit.gif'); /* The least supported option. */
	background-repeat: no-repeat;
	background-size: 100vw;
}

.hero-header-text {
	margin: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -65%);
}

#ready {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 3em;
}

#werk {
	font-family: 'Knewave';
	font-size: 5em;
}

#yas {
	width: 183px;
	height: 55px;
	border-radius: 14px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.19);
	background-color: #ac5fd0;
	margin-top: 1em;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 2em;
	cursor: pointer;
}
