h1,
p {
	color: white;
}

header {
	height: 450px;
	width: 100vw;
	overflow: hidden;
	background: #c33764; /* fallback colour. Make sure this is just one solid colour. */
	background: -webkit-linear-gradient(
			118deg,
			rgba(254, 108, 111, 0.6) 0%,
			rgba(180, 7, 18, 0.6) 99%
		),
		url('./ineedahero-edit.gif');
	background: linear-gradient(
			118deg,
			rgba(245, 113, 115, 0.6) 0%,
			rgba(180, 7, 18, 0.6) 99%
		),
		url('./ineedahero-edit.gif'); /* The least supported option. */
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	align-items: center;
}

.hero-header-text {
	margin: 0;
	padding: 0px 10px;
	/* position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -75%); */
	text-shadow: 2px 2px black;
}

#ready {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 3em;
}

#werk {
	font-family: 'Knewave';
	font-size: 5em;
	margin-top: -20px;
}

#yas {
	width: 183px;
	height: 55px;
	border-radius: 14px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.19);
	background-color: #ac5fd0;
	margin-top: 1em;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 2em;
	cursor: pointer;
}

.overview {
	display: grid;
	height: auto;
	grid-template-columns: 40% 60%;
	grid-template-rows: auto;
	text-align: left;
	padding: 10px 0 10px 25px;
	/* padding-left: 25px;
	margin: 10px 0; */
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'Quicksand';
}

.join-the-queens h1 {
	font-weight: 800;
	font-family: 'Quicksand';
	/* text-shadow: 1px 1px rgb(0, 0, 0); */
}
.join-the-queens p {
	font-weight: 600;
}

.column {
	margin-top: auto;
	margin-bottom: auto;
	padding: 10px;
}

.data {
	display: grid;
	align-items: top;
	padding: 10px;
	/* grid-template-columns: 33% 33% 33%; */
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	/* grid-auto-flow: column; */
	text-align: center;
}

.data-col {
	padding: 0 10px;
}

.data-col h1 {
	font-size: 3em;
	font-weight: 100;
}

.data-col p {
	font-size: 1.3em;
	font-weight: 600;
}

.queen-or-fan {
	height: auto;
	background-image: linear-gradient(113deg, #fe6c6f 0%, #b40712 99%);
	display: grid;
	align-items: center;
	padding: 20px;
}

.queen-or-fan h1 {
	font-family: 'Quicksand';
}

.queen-or-fan-detail {
	display: grid;
	align-items: top;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	padding: 10px 0px;
	font-family: 'Quicksand';
	font-weight: 600;
}

.queen-or-fan-detail h1 {
	margin: 0;
	font-family: 'Knewave';
}
.queen-or-fan-detail p {
	padding: 5px 25px 15px 25px;
}
