h1 {
	color: white;
}

header {
	height: 450px;
	width: 100vw;
	overflow: hidden;
	background: #c33764; /* fallback colour. Make sure this is just one solid colour. */
	background: -webkit-linear-gradient(
			118deg,
			rgba(254, 108, 111, 0.6) 0%,
			rgba(180, 7, 18, 0.6) 99%
		),
		url('./ineedahero-edit.gif');
	background: linear-gradient(
			118deg,
			rgba(245, 113, 115, 0.6) 0%,
			rgba(180, 7, 18, 0.6) 99%
		),
		url('./ineedahero-edit.gif'); /* The least supported option. */
	background-repeat: no-repeat;
	background-size: 100vw;
}

.hero-header-text {
	margin: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -40%);
}
