button {
	width: 150px;
	height: 50px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	border-style: none;
	border-radius: 14px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
	background-color: #ac5fd0;
	transition: background-color 0.5s;
	cursor: pointer;
}

button:hover {
	background-color: #7d24a7;
}
