.post-container {
	box-sizing: border-box;
	width: 600px;
	margin: 0 auto;
}

.post-image-container {
	position: relative;
	width: 100%;
}

.post-image {
	width: 100%;
	height: 400px;
	object-fit: cover;
	object-position: top;
}

.post-header {
	position: absolute;
	bottom: 0;
	background-color: #2f2f2f80;
	width: 100%;
	text-align: left;
	padding: 1em;
}
