:root {
	--content-width: 600px;
	--post-image-height: 400px;
	--post-header-font: "Oleo Script", cursive;
	--post-header-font-size: 2em;
	--post-body-font: "Pacifico", cursive;
	--post-body-font-size: 2em;
}

.App {
	text-align: center;
	width: 100%;
}
