body {
	margin: 0;
	width: 100%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: RGB(26, 26, 27);
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.646),
			rgba(0, 0, 0, 0.872)
		),
		url('./AppImages/repeatablePattern-red.svg');
	background-repeat: repeat;
	background-attachment: fixed;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
