name: MasterDeployCI
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Packages
        run: npm install
      - name: Set Github Username
        run: git config --global user.name "jason-toups"
      - name: Set Github Email
        run: git config --global user.email "me@jasontoups.com"
      - name: Set Github Origin
        run: git remote set-url origin https://github.com/JasonToups/werk.git
      - name: Deploy to GH Pages
        run: NODE_DEBUG=npm run deploy
      - name: Deploy Confirmation
        run: echo "Deploy Complete!"
